# @package hydra.launcher
submitit_folder: ${hydra.sweep.dir}/submitit/%j
timeout_min: 1440 # 24 hours, set to more if required
cpus_per_task: null
gpus_per_node: a100_80gb_pcie:4
tasks_per_node: 1
mem_gb: 64G
nodes: 1
name: finetune_${hydra.job.name}
_target_: hydra_plugins.hydra_submitit_launcher.submitit_launcher.SlurmLauncher
partition: null
qos: null
comment: null
constraint: null
exclude: null
gres: null
cpus_per_gpu: null
gpus_per_task: null
mem_per_gpu: null
mem_per_cpu: null
account: null
signal_delay_s: 120
max_num_timeout: 0
additional_parameters: {}
array_parallelism: 256
setup:
    - set -euo pipefail
    - dir="$SCRATCH/finetune"
    - export HF_HOME="$dir/.hf/"
    - module load stack/2024-06 gcc/12.2.0 python/3.11.6 cuda/11.3.1 eth_proxy
srun_args: null
